/* Background Color */

/* Main Header Styling */
.mainheader {
    background-color: rgb(199, 28, 28);
    padding: 32px 32px;
}

/* Button Styling */
a.btn {
    background-color: white;
    border: 1px solid black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

a.btn {
    transition-duration: 0.4s;
  }
  
  a.btn:hover {
    background-color: Grey; /* Black */
    color: white;
  }

/* Grainger Image Styling */
.graingerimage {
    padding-left: 60px;
}

/* Login Credentials Styling */
.logincredentials {
    padding: 150px 200px;
    font-weight: bold;
    font-size: larger;
}